<% provide :title, @blog.title %>
<div class="container pt-5">
  <div class="row">
    <div class="col-8">
      <div class="title_blog">
        <div class="row">
          <div class="col-11">
            <%= @blog.title %>
          </div>
          <% if current_user? @blog.user %>
          <div class="col-15">
              <div>
                <%= link_to t(".dd_edit"), edit_blog_path, class: "dropdown-item" %>
                <%= link_to t(".dd_delete"), @blog, method: :delete, data: {confirm: t(".delete_confirm")}, class: "dropdown-item text-danger" %>
              </div>
          </div>
          <% else %>
          <div>
          </div>
          <% end %>
         </div>
      </div>
      <div class="cp_blog">
        <%= image_tag @blog.cover_photo.to_s, class: "cover_photo_show" %>
        <b><%= t ".authors" %></b>
        <%= @blog.user.name %><br>
        <b><%= t ".posted" %></b>
        <%= @blog.created_at.strftime("%m-%d-%Y") %><br>
      </div>
      <div>
        <%= @blog.body %>
      </div>
  </div>
</div>
